<a href="https://colab.research.google.com/github/12345997/projecto/blob/main/daniel_of_SQL_Data_Analysis_Population_by_Type_of_Disability.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# SQL Data Analysis: Population by Type of Disability

## 1.0 Connecting to our Database

In [1]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

'Connected: @None'

## 1.1 Importing Data from CSV files

In [2]:
# Importing the pandas library
# We will use a function read_csv from pandas to read our datasets as shown
#
import pandas as pd

In [3]:
# Loading our table from the respective CSV files
# We will export the dataset that we have cleaned using python
#
with open('population_dataset.csv','r') as f:
    population_dataset = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS population_dataset;
%sql PERSIST population_dataset;
%sql SELECT * FROM population_dataset LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(0, 'Baringo', '10.9%', '2.8%', '30.9%', '2.6%', '1%', '3.8%', '12.4%', '54.2%', '10.9%', 6512.1),
 (1, 'Bomet', '0%', '0%', '29.2%', '10%', '8.1%', '8.1%', '14.2%', '0.3%', '38.7%', 6538.0),
 (2, 'Bungoma', '12.3%', '0%', '49.2%', '0%', '2.3%', '20.8%', '12.7%', '0%', '21.9%', 13170.6),
 (3, 'Busia', '0%', '0%', '14.3%', '12.3%', '4.6%', '35.5%', '4.8%', '14.8%', '31.4%', 6655.5),
 (4, 'Elgeyo Marakwet', '0%', '0%', '31.7%', '0%', '35.7%', '0%', '20%', '12.6%', '7.4%', 3599.9)]

## 1.2 Previewing our Dataset

In [4]:
# Let's preview the first 10 rows of our data
# 
%%sql
SELECT * FROM population_dataset LIMIT 10;

 * sqlite://
Done.

[(0, 'Baringo', '10.9%', '2.8%', '30.9%', '2.6%', '1%', '3.8%', '12.4%', '54.2%', '10.9%', 6512.1),
 (1, 'Bomet', '0%', '0%', '29.2%', '10%', '8.1%', '8.1%', '14.2%', '0.3%', '38.7%', 6538.0),
 (2, 'Bungoma', '12.3%', '0%', '49.2%', '0%', '2.3%', '20.8%', '12.7%', '0%', '21.9%', 13170.6),
 (3, 'Busia', '0%', '0%', '14.3%', '12.3%', '4.6%', '35.5%', '4.8%', '14.8%', '31.4%', 6655.5),
 (4, 'Elgeyo Marakwet', '0%', '0%', '31.7%', '0%', '35.7%', '0%', '20%', '12.6%', '7.4%', 3599.9),
 (5, 'Embu', '0%', '0%', '55.1%', '0%', '0%', '3%', '3%', '2.5%', '41.8%', 6287.4),
 (6, 'Garissa', '0%', '37.1%', '0%', '0%', '0%', '0%', '11.3%', '11.3%', '51.6%', 1864.1),
 (7, 'Homa Bay', '2.1%', '0%', '20.9%', '6.7%', '6.3%', '5.2%', '11.3%', '9%', '48.3%', 23696.8),
 (8, 'Isiolo', '13.9%', '3.3%', '32.6%', '38.6%', '12.9%', '0%', '0%', '2%', '19.8%', 2154.4),
 (9, 'Kajiado', '0%', '0%', '26.9%', '19%', '0%', '0%', '27.6%', '0%', '45.5%', 3250.3)]

## 1.3 Accessing Information about our Dataset

In [5]:
# Getting to know more about the dataset by accessing its information
#
population_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 47
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   County        48 non-null     object
 1   Missing_Hand  48 non-null     object
 2   Missing_Foot  48 non-null     object
 3   Lame          48 non-null     object
 4   Blind         48 non-null     object
 5   Deaf          48 non-null     object
 6   Dumb          48 non-null     object
 7   Mental        48 non-null     object
 8   Paralyzed     48 non-null     object
 9   Other         48 non-null     object
 10  Total_Count   48 non-null     float64
dtypes: float64(1), object(10)
memory usage: 4.5+ KB

## 1.5 Answering Questions

Let's answer the following questions with our dataset. These are the same questions we answered using the python programming language.

In [9]:
# Challenge 1
# Which county had the highest no. of registered deaf persons?
# 
%%sql
SELECT County, max("Deaf")
FROM population_dataset

 * sqlite://
Done.

[('Nandi', '9.1%')]

In [10]:
# Challenge 2
# Which county had the highest no. of registered persons with a missing hand?
#
%%sql
SELECT County, max("Missing_hand") FROM population_dataset

 * sqlite://
Done.

[('Kisumu', '7.6%')]

In [ ]:
# Challenge 3
# Which county had the highest no. of registered persons with a missing foot?
# 

%%sql
SELECT County, Max("Missing_foot") FROM population_dataset

In [14]:
# Challenge 4
# Which county had the highest no. of registered lame persons?
# 

%%sql
SELECT County, max("Lame") FROM population_dataset

 * sqlite://
Done.

[('Mombasa', '9.3%')]

In [18]:
# Challenge 5
# Which county had the lowest no. of registered blind persons?
# 

%%sql
SELECT County, min("Blind") FROM population_dataset

 * sqlite://
Done.

[('Bungoma', '0%')]

In [44]:
# Challenge 6
# Which county had the highest third no. of registered deaf persons?
# 
%%sql
SELECT County, Deaf
FROM population_dataset
ORDER BY Deaf desc LIMIT 3;

 * sqlite://
Done.

[('Nandi', '9.1%'), ('Bomet', '8.1%'), ('Wajir', '8%')]

In [ ]:
# Challenge 7
# In descending order, which top 5 counties had the highest no. of registered dumb persons?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 8
# In ascending order, which top 5 counties had the highest no. of registered persons with a mental disability? 
# 
OUR CODE GOES HERE

In [45]:
# Challenge 9
# Which counties had no registerd blind persons nor deaf persons?
# 
%%sql
SELECT County, MIN("Deaf") FROM population_dataset

 * sqlite://
Done.

[('Embu', '0%')]

In [ ]:
# Challenge 10
# Which disability was the most registered across all the counties?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 11
# Which disability was the least registered across all the counties?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 12
# What was the average no. of registered persons with a disability?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 13
# Which three counties had least registered persons with disabilities?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 14
# What was the total no of registered persons with a disability across all counties?
#
OUR CODE GOES HERE

In [ ]:
# Challenge 15 
# Which top 3 counties has the highest no. of registered persons with a disability?
# 
OUR CODE GOES HERE